<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
<!--  <servers>-->
<!--    <server>-->
<!--      <id>artifactory</id>-->
<!--      <username>axc85rd</username>-->
<!--      <password>eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJjREZTbWEwZHpROTZOaHhXWTFYMmNoeDhwMFdPN3VCSllYSEdKNlh4Z3l3In0.eyJzdWIiOiJqZnJ0QDAxZDE5ZGsxd3JrYWQ4MHk1c2c2bmExdnl5XC91c2Vyc1wvYXhjODVyZCIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6cmVhZC1hbmQtd3JpdGUsc25hcHNob3QtZGVsZXRlIGFwaToqIiwiYXVkIjoiamZydEAwMWQxOWRrMXdya2FkODB5NXNnNm5hMXZ5eSIsImlzcyI6ImpmcnRAMDFkMTlkazF3cmthZDgweTVzZzZuYTF2eXlcL3VzZXJzXC9hZG1pbiIsImV4cCI6MTY0OTI2NDk3MiwiaWF0IjoxNjQ2NjcyOTcyLCJqdGkiOiIwNjIwNjA3Mi03YzAxLTQ2NTctOWM1Ni02YzRjZWMwOWY4ZWYifQ.JNQ-G_8kBpNvuNxxQOhO9aU7iLDz8pjxnKOUB3y_Fx2vwqWWVnYzqy1yon01h3pKbuQblluuxEIVHMLr_nx4WemwYVR3nDNHJogpEGgjdzFj6Bqx81NKxke4IuIPLJG42BpThbZpOE8Z9ch6yzsWmWbt9q1SHyRxmyNxlkNUYLmxl90n2sA2BJL3d73Q3qAEffdm-tL5p65yoQEgWpeuUXy2W2KZcjwlaHCtf26tIkp5iTBFzrqRnb-LcY50DE4NX15tRIHatyvElPqoJa2NE0jE_7jB-jyyMZTJj3pz_Bq46ALyJBhAQews-_RWauWB092mi1FLGl8V6yDCV22dNA</password>-->
<!--    </server>-->
<!--    <server>-->
<!--      <id>central</id>-->
<!--      <username>axc85rd</username>-->
<!--      <password>eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJjREZTbWEwZHpROTZOaHhXWTFYMmNoeDhwMFdPN3VCSllYSEdKNlh4Z3l3In0.eyJzdWIiOiJqZnJ0QDAxZDE5ZGsxd3JrYWQ4MHk1c2c2bmExdnl5XC91c2Vyc1wvYXhjODVyZCIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6cmVhZC1hbmQtd3JpdGUsc25hcHNob3QtZGVsZXRlIGFwaToqIiwiYXVkIjoiamZydEAwMWQxOWRrMXdya2FkODB5NXNnNm5hMXZ5eSIsImlzcyI6ImpmcnRAMDFkMTlkazF3cmthZDgweTVzZzZuYTF2eXlcL3VzZXJzXC9hZG1pbiIsImV4cCI6MTY0OTI2NDk3MiwiaWF0IjoxNjQ2NjcyOTcyLCJqdGkiOiIwNjIwNjA3Mi03YzAxLTQ2NTctOWM1Ni02YzRjZWMwOWY4ZWYifQ.JNQ-G_8kBpNvuNxxQOhO9aU7iLDz8pjxnKOUB3y_Fx2vwqWWVnYzqy1yon01h3pKbuQblluuxEIVHMLr_nx4WemwYVR3nDNHJogpEGgjdzFj6Bqx81NKxke4IuIPLJG42BpThbZpOE8Z9ch6yzsWmWbt9q1SHyRxmyNxlkNUYLmxl90n2sA2BJL3d73Q3qAEffdm-tL5p65yoQEgWpeuUXy2W2KZcjwlaHCtf26tIkp5iTBFzrqRnb-LcY50DE4NX15tRIHatyvElPqoJa2NE0jE_7jB-jyyMZTJj3pz_Bq46ALyJBhAQews-_RWauWB092mi1FLGl8V6yDCV22dNA</password>-->
<!--    </server>-->
<!--  </servers>-->
<!--   <proxies>-->
<!--    <proxy>-->
<!--      <active>true</active>-->
<!--      <protocol>http</protocol>-->
<!--      <port>9090</port>-->
<!--      <host>thd-svr-proxy-qa.homedepot.com</host>-->
<!--      <nonProxyHosts>*.homedepot.com|localhost|127.*|[::1]|repo1.maven.org</nonProxyHosts> -->
<!--      <id>http-proxy</id>-->
<!--    </proxy>-->
<!--    <proxy>-->
<!--      <active>true</active>-->
<!--      <protocol>https</protocol>-->
<!--      <port>9090</port>-->
<!--      <host>thd-svr-proxy-qa.homedepot.com</host>-->
<!--      <nonProxyHosts>*.homedepot.com|localhost|127.*|[::1]|repo1.maven.org</nonProxyHosts> -->
<!--      <id>https-proxy</id>-->
<!--    </proxy>-->
<!--  </proxies>-->
<!--  <profiles>-->
<!--    <profile>-->
<!--      <id>artifactory</id>-->
<!--      <repositories>-->
<!--        <repository>-->
<!--          <snapshots>-->
<!--            <enabled>true</enabled>-->
<!--          </snapshots>-->
<!--          <id>central</id>-->
<!--          <name>libs-release</name>-->
<!--          <url>https://maven.artifactory.homedepot.com/artifactory/libs-release</url>-->
<!--        </repository>-->
<!--        <repository>-->
<!--          <snapshots/>-->
<!--          <id>central</id>-->
<!--          <name>libs-snapshot</name>-->
<!--          <url>https://maven.artifactory.homedepot.com/artifactory/libs-snapshot</url>-->
<!--        </repository>-->
<!--      </repositories>-->
<!--      <pluginRepositories>-->
<!--        <pluginRepository>-->
<!--          <snapshots>-->
<!--            <enabled>false</enabled>-->
<!--          </snapshots>-->
<!--          <id>central</id>-->
<!--          <name>plugins-release</name>-->
<!--          <url>https://maven.artifactory.homedepot.com/artifactory/plugins-release</url>-->
<!--        </pluginRepository>-->
<!--        <pluginRepository>-->
<!--          <id>central</id>-->
<!--          <name>plugins-snapshot</name>-->
<!--          <url>https://maven.artifactory.homedepot.com/artifactory/plugins-snapshot</url>-->
<!--        </pluginRepository>-->
<!--        <pluginRepository>-->
<!--          <id>central</id>-->
<!--          <name>libs-release</name>-->
<!--          <url>https://maven.artifactory.homedepot.com/artifactory/libs-release</url>-->
<!--          <snapshots>-->
<!--            <enabled>false</enabled>-->
<!--          </snapshots>-->
<!--        </pluginRepository>-->
<!--      </pluginRepositories>-->
<!--    </profile>-->
<!--  </profiles>-->
<!--  <activeProfiles>-->
<!--    <activeProfile>artifactory</activeProfile>-->
<!--  </activeProfiles>-->
</settings>